<link rel="stylesheet" href="/css/nav.css">
<div class="menu_bg noneBg"></div>
<div class="menu_list" id="menuList">
	<ul>
		<li>
			<!-- <a href="#">第一个</a> -->
			tree and table
			<ol>
				<li>
					<a href="/home">tree and table</a>
				</li>
			</ol>
		</li>
		<li>
			<!-- <a href="#">第二个</a> -->
			FreeMarker
			<ol>
				<li>
					<a href="/free_marker">freeMarker</a>
				</li>
			</ol>
		</li>
		<li>
			<!-- <a href="#">第三个</a> -->
			页面效果
			<ol>
				<li>
					<a href="/wsjls_swiper">轮播图</a>
				</li>
				<li>
					<a href="/wsjls_fileinput">fileinput</a>
				</li>
				<li>
					<a href="/wsjls_jsonp">axios</a>
				</li>
			</ol>
		</li>
		<li>
			<!-- <a href="#">第四个</a> -->
			VUE练习
			<ol>
				<li>
					<a href="/wsjls_vue">vue基础</a>
				</li>
<!-- 				<li>
					<a href="#">此页</a>
				</li> -->
			</ol>
		</li>
		<li>
			<!-- <a href="#">第五个</a> -->
			待定
		</li>
	</ul>
</div>
<script src="/js/wsjls_nav.js"></script>
