<!-- log -->
<div class="log">
	<h1>log</h1>
	<h6>以下为log</h6>
	<div id="pageLog" class="pageLog">
	</div>
</div>

<!-- 轮播图 -->
<div id="box">
	<ul id="list1">
<!-- 			<li><img src="images/1.jpg" alt=""></li>
		<li><img src="images/2.jpg" alt=""></li>
		<li><img src="images/3.jpg" alt=""></li>
		<li><img src="images/4.jpg" alt=""></li>
		<li><img src="images/5.jpg" alt=""></li>
		<li><img src="images/6.jpg" alt=""></li> -->
	</ul>
	<ol id="list2">
		<li class="cur">1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
		<li>6</li>
	</ol>
	<div id="left"><</div>
	<div id="right">></div>
</div>

<!-- 测试CheckBox -->
<form action="" id="formbox" role="form" style="height:150px;">
	<label for="checkboxes" id="checkboxes">1234</label>
	<input type="checkbox" name="checkboxes"> 
	<button class="btn btn-info" id="subButton">点击提交按钮</button>
	<button class="btn btn-info" id="clearLog">点击清除log</button>
</form>
