<div class="my_container">
  <%- include("../component/header") %>
  <div class="main_content">
    <div class="home_content">
      做表格数据的展示 charts 
    </div>
    <%- include("../component/nav") %>
  </div>
</div>
