<script type="text/javascript" charset="utf-8" src="/common/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/common/ueditor/editor_api.js"></script>
<script type="text/javascript" charset="utf-8" src="/common/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="my_container">
  <%- include("../component/header") %>
  <div class="main_content">
	  <div class="home_content noneBg">
		<%- include("../component/wsjls_ueditor_content") %>
	  </div>
	  <%- include("../component/nav") %>
  </div>
</div>