<div class="my_container">
  <%- include("../component/header") %>
  <div class="main_content">
	  <div class="home_content noneBg">
		<%- include("../component/wsjls_vue_content") %>
	  </div>
	  <%- include("../component/nav") %>
  </div>
</div>