<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>dataTable</title>
	<link href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.css" rel="stylesheet" />
    <script type="text/javascript" src="../../common/jquery.js"></script>
<script type="text/javascript" src="../../common/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
	<style>
		.dataTable {
			text-align: center;
		}
	</style>
    <!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
</head>
<body>
<table id="datatable">
    <thead>
        <tr>
            <th>泰康1</th>
            <th>泰康2</th>
            <th>泰康3</th>
            <th>泰康4</th>
        </tr>
    </thead>
</table>
<button id="btn">临时按钮</button>
<!-- <script src="./js/ajax_demo.js"></script> -->
<script type="text/javascript" src="../../js/datatable.js"></script>
</body>
</html>