@import url('../common/common.css');

/*----log----*/

.log {
	float: right ;
}

.pageLog {
	width: 300px;
	height: 300px;
	border: 1px solid #000000;
}

/*------------------轮播图----------------------*/

*{padding:0;
	margin:0;
	text-decoration:none;
	list-style:none;}
#box{
	width:730px;
	height:454px;
	overflow:hidden;
	position:relative;
	/*margin:40px auto;*/
}
#list1{position:absolute;}
#list1 li{float:left;}
#list1 li img{width:730px;
		height:454px;
		display:block;
		float:left;}
#list2{position:absolute;
	left:150px;
	bottom:20px;}
#list2 li{float:left;
		margin:10px;
		width:20px;
		height:20px;
		border-radius:20px;
		background:black;
		line-height:20px;
		text-align:center;
		color:white;}
#left{width:50px;
	height:104px;
	position:absolute;
	left:0;
	top:175px;
	background:black;
	opacity:0.3;
	color:#ccc;
	font-size:36px;
	text-align:center;
	line-height:104px;
	display:none;}
#right{width:50px;
	height:104px;
	position:absolute;
	right:0;
	top:175px;
	background:black;
	opacity:0.3;
	color:#ccc;
	font-size:36px;
	text-align:center;
	line-height:104px;
	display:none;}
#list2 .cur{background:red;}

/* -------------------------------- */
/*animation: name duration timing-function delay iteration-count direction;*/

/*timing-function
linear	动画从头到尾的速度是相同的。
ease	默认。动画以低速开始，然后加快，在结束前变慢。
ease-in	动画以低速开始。
ease-out	动画以低速结束。
ease-in-out	动画以低速开始和结束。
cubic-bezier(n,n,n,n)	在 cubic-bezier 函数中自己的值。可能的值是从 0 到 1 的数值。

direction
normal	默认值。动画应该正常播放。	
alternate	动画应该轮流反向播放。*/

@keyframes mymove {
	from {left:0px;}
	to {left:1000px;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/ {
	from {left:0px;}
	to {left:1000px;}
}

.test_animate {
	width:100px;
	height:100px;
	background:red;
	position:relative;
	animation:mymove 5s ease -1s infinite alternate;
	-webkit-animation:mymove 5s ease -1s infinite alternate; /*Safari and Chrome*/
}


